<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Lekshmi%20Balakrishnan%20Unni.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Remya</h5>
                      <p class="card-text">Peadiatrician</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Biju%20B%20Nair.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">dr.Rajesh</h5>
                      <p class="card-text">cardiology</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20E.%20Asher%20Ennis%20Nayagam.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Praveen</h5>
                      <p class="card-text">General medicine</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Madhu%20Sreedharan.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Kiran</h5>
                      <p class="card-text">Dermatology</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLpilXZ1vLVqfu5gqbi-PaiuLD9GNB6GIA1T7trQAV8r473RcfIrYB70XEWwSAFaF2014&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Dhanya</h5>
                      <p class="card-text">Dentist</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://skhospitals.com/Images/Doctors/doc_1833239598.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Arathy</h5>
                      <p class="card-text">Dentist</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3EJi59wEObuMf7pKoAcRUpNjSmNFT376wqUkDD76PpLBxvuGUa7fc1TJGd_821BTgGuw&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Varun</h5>
                      <p class="card-text">Dermatology/p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Lekshmi%20S%20Nair.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Lekshmi</h5>
                      <p class="card-text">ENT</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
                    <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Manju%20Thampi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Dr.Ardra<br>Oorthology</p>
                      
                    </div>
                  </div></div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><div class="card" style="width: 18rem;">
  <img src="https://images1-fabric.practo.com/doctor/755215/dr-b-v-deepa-reddy-5d4bcf045cdd4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dr.Deepa</h5>
    <p class="card-text">Neurology</p>
    
  </div>
</div></div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
